# *.txt - все файлы с данным расширением
# idea - директории
# git rm --cached <файл> - убирает файл из индекса
# git rm -r --cached folder/ - убирает папки из индекса + убирает из github
bla-bla.html